# Stochastic Classification of Economics Departments by Placement Rates

James Yu, 27 November 2021

In [1]:
# import Pkg
# Pkg.add("Distributions")
# Pkg.add("JSON")
using Distributions, JSON

This notebook contains an algorithm for classifying Economics departments into a series of types based on placement outcome data.

The placement data used is grouped as a dictionary of applicants sorted by year of starting application. In total, the data spans from 2003 to 2021. The procedure for compiling the data is provided in a separate Python file.

In [2]:
year_by_year = JSON.parsefile("to_from_by_year.json")
sort(collect(keys(year_by_year)))

19-element Vector{String}:
 "2003"
 "2004"
 "2005"
 "2006"
 "2007"
 "2008"
 "2009"
 "2010"
 "2011"
 "2012"
 "2013"
 "2014"
 "2015"
 "2016"
 "2017"
 "2018"
 "2019"
 "2020"
 "2021"

For our estimation, we will only consider placements from 2015 to 2018 as the number of reported graduates on EconJobMarket was the most stable and even over this period. We put all placement outcomes for Assistant Professor positions in one set, and all other placement outcomes in another set. The other placement outcomes are those where applicants were hired at departments that do not graduate Ph.D. students; this includes the public sector, private sector, government, non-academic positions at academic departments and teaching universities, among others.

In [3]:
i = 0

academic_builder = Set{}()
sink_builder = Set{}()
name_to_oid = Dict{}()

for key in 2015:2020
    data = year_by_year[string(key)]
    println(key, " has ", length(keys(data)), " entries")
    for aid in keys(data)
        outcome = data[aid]
        name_to_oid[outcome["to_name"]] = string(outcome["to_oid"])
        name_to_oid[outcome["from_institution_name"]] = string(outcome["from_oid"])
        if outcome["position_name"] == "Assistant Professor"
            push!(academic_builder, outcome)
        else
            push!(sink_builder, outcome)
        end
    end
end
println(length(academic_builder), " total assistant professor outcomes")
println(length(sink_builder), " other outcomes")

2015 has 512 entries
2016 has 1145 entries
2017 has 837 entries
2018 has 912 entries
2019 has 1002 entries
2020 has 847 entries
3608 total assistant professor outcomes
1647 other outcomes

This piece of code deals with teaching universities by checking if they ever graduated Ph.D. students:

In [4]:
academic = Set{}()
academic_to = Set{}()
for outcome in academic_builder
    push!(academic, outcome["from_institution_name"])
    push!(academic_to, outcome["to_name"])
end

tch_sink = Set{}() # sink of teaching universities that do not graduate PhDs
for key in academic_to
    if !(key in academic)
        push!(tch_sink, key)
    end
end

println(length(academic))
println(length(academic_to))
println(length(tch_sink))

361
801
494

The next piece of code sorts all the sink departments (except teaching universities, which are dealt with above) by category:

In [5]:
filter_sink_builder = Set{}()
for outcome in sink_builder
    if outcome["from_institution_name"] in academic
        push!(filter_sink_builder, outcome)
    end
end

acd_sink = Set{}()
gov_sink = Set{}()
pri_sink = Set{}()

for outcome in filter_sink_builder
    # CODE global academic, other_placements, pri_sink, gov_sink, acd_sink
    if outcome["recruiter_type"] in [6, 7]
        # private sector: for and not for profit
        push!(pri_sink, string(outcome["to_name"], " (private sector)"))
    elseif outcome["recruiter_type"] == 5
        # government institution
        push!(gov_sink, string(outcome["to_name"], " (public sector)"))
    else
        # everything else including terminal academic positions
        push!(acd_sink, string(outcome["to_name"], " (academic sink)"))
    end
end

println(length(acd_sink))
println(length(gov_sink))
println(length(pri_sink))

205
91
102

Now that we have five sets for every category of department, we can construct a matrix representing the placements between these departments:

In [6]:
institutions = vcat(collect(academic), collect(acd_sink), collect(gov_sink), collect(pri_sink), collect(tch_sink))

out = zeros(UInt8, length(institutions), length(collect(academic)))
i = 0
for outcome in academic_builder
    i += 1
    out[findfirst(isequal(outcome["to_name"]), institutions), findfirst(isequal(outcome["from_institution_name"]), institutions)] += 1
end
for outcome in filter_sink_builder
    i += 1
    keycheck = ""
    if outcome["recruiter_type"] in [6, 7]
        keycheck = string(outcome["to_name"], " (private sector)")
    elseif outcome["recruiter_type"] == 5
        keycheck = string(outcome["to_name"], " (public sector)")
    else
        keycheck = string(outcome["to_name"], " (academic sink)")
    end
    out[findfirst(isequal(keycheck), institutions), findfirst(isequal(outcome["from_institution_name"]), institutions)] += 1
end
println("Total number of outcomes: ", i)

Total number of outcomes: 5156

Finally, we get to the estimator. For this estimate, we assume that each observed set of placement outcomes between any two pairs of departments is drawn from a distribution common to the "type" of the hiring department and the "type" of the graduating department. Here this distribution is assumed to be Poisson, in line with classical stochastic block models used for similar estimations in Karrer and Newman (2011) and Peixoto (2014).

Given a particular assignment of departments to types, and given the placement outcomes, a single round of estimation computes the mean number of applicants from any single type $t$ department that would be hired at a single type $t^\prime$ department and measures the probability that each independent observation was drawn from its corresponding mean. When summed together, the logarithms of the probabilities form a log-likelihood which can be used for maximum likelihood estimation.

In [7]:
function bucket_estimator(assign::Array{UInt8}, A::Matrix{UInt8}, num::UInt8)
    b = zeros(UInt8, size(A)[1], size(A)[2])
    T = zeros(num + 1, num)
    count = zeros(num + 1, num)
    
    for i in 1:size(A)[1], j in 1:size(A)[2]
         @inbounds val = (num + 1) * (assign[j] - 1) + assign[i]
         @inbounds b[i, j] = val
         @inbounds T[val] = ((T[val] * count[val]) + A[i, j]) / (count[val] + 1)
         @inbounds count[val] += 1
    end
    L = 0.0
    for i in eachindex(A)
        @inbounds L += logpdf(Poisson(max(T[b[i]], 0)), A[i])
    end
    return -L, T
end

bucket_estimator (generic function with 1 method)

Finally, we compute the maximum-likelihood estimated Poisson means by stochastically re-allocating departments to types and saving likelihood-improving re-allocations until no further re-allocations are found.

In [8]:
function doit(sample, academic_institutions, asink, gsink, psink, tsink, all_institutions, num)
    # some initial states
    current_allocation = Array{UInt8}(undef, length(all_institutions))
    cur_objective = Inf
    best_mat = nothing
    cursor = 1
    for inst in academic_institutions
        current_allocation[cursor] = 1
        cursor += 1
    end
    # except that the sinks must stay in types
    # this was built to support more sinks, but here we only use one
    for key in asink
        current_allocation[cursor] = num + 1
        cursor += 1
    end
    for key in gsink
        current_allocation[cursor] = num + 1
        cursor += 1
    end
    for key in psink
        current_allocation[cursor] = num + 1
        cursor += 1
    end
    for key in tsink
        current_allocation[cursor] = num + 1
        cursor += 1
    end
    blankcount = 0
    
    # BEGIN MONTE CARLO REALLOCATION ROUTINE
    while true
        # attempt to reallocate academic institutions to a random spot
        temp_allocation = copy(current_allocation)
        k = rand(1:length(academic_institutions))
        @inbounds temp_allocation[k] = rand(delete!(Set(1:num), temp_allocation[k]))
        # check if the new assignment is better
        test_objective, estimated_means = bucket_estimator(temp_allocation, sample, num)
        if test_objective < cur_objective
            print(test_objective, " ")
            blankcount = 0
            cur_objective = test_objective
            best_mat = estimated_means
            current_allocation = temp_allocation
        else
            blankcount += 1
            if blankcount % 1000 == 0
                print(blankcount, " ")
            end
        end
        if blankcount == 100000
            return cur_objective, best_mat, current_allocation
        end
    end
end

SELECT_COUNT = 4 # four type allocation used here
est_obj, est_mat, est_alloc = doit(out, collect(academic), collect(acd_sink), collect(gov_sink), collect(pri_sink), collect(tch_sink), institutions, UInt8(SELECT_COUNT))

28602.100477941112 28588.49240571065 28583.92587652919 28571.798771872916 28566.27120759026 28560.231838914173 28551.450381066526 28549.01454840963 28538.96697151123 28529.93232969606 28528.13089107632 28517.638787469165 28505.046515740676 28504.477398884836 28495.546455940632 28488.302072188933 28476.029455803637 28474.493309742804 28463.986411015703 28454.624832385598 28441.781498922224 28427.97844223123 28426.685583227943 28414.936693889646 28400.797752288425 28395.767856659764 28382.24764839557 28368.242055863655 28361.12610911076 28329.783181095077 28329.677268636555 28322.276938692834 28318.785681340043 28305.87453581294 28296.924541643475 28283.684757461382 28278.00476646183 28266.95422060946 28258.56215047416 28258.133513208293 28247.927493923118 28236.29793144306 28235.993680393483 28234.59506160915 28221.588387353873 28218.516948850698 28204.90473010004 28195.067715250312 28182.44133760898 28176.677771835843 28166.437966961712 28159.321809987014 28150.405378692012 28143.779422761367 28134.849823271317 28133.114074452806 28129.294392045125 28116.441671595392 28113.664265460047 28104.651283747287 28089.733893544086 28060.069445222955 28026.141425022714 28025.633365393634 28012.216239116442 27997.686773774818 27997.117587727247 27983.03587625234 27970.147486575974 27950.037684011906 27947.32648999783 27932.292688296355 27930.970457334945 27915.22791249733 27901.73106465593 27889.63583498583 27876.649925378715 27867.420310900507 27852.502091390474 27838.924858844442 27823.36831552221 27808.522047719198 27793.639931719885 27778.19759010519 27766.73710247893 27758.4304384159 27747.000773529355 27729.962480252725 27717.082894393603 27699.752460016967 27684.97795677927 27671.83206142093 27671.71437564549 27659.83452156191 27658.53201243095 27644.49442067979 27629.87481943048 27613.207621603517 27600.61614368115 27584.991876796863 27579.530902274553 27566.89417567789 27555.482450380474 27542.011483000795 27524.42482469116 27520.04310492709 27518.385638739233 27500.932041979297 27484.722513418066 27470.15815294531 27454.376823064034 27451.715009553624 27445.87235079978 27443.856762281983 27429.511805840837 27411.59334035222 27394.407121267683 27375.992151815215 27374.352028131907 27364.168225203408 27363.032615984233 27361.842512510204 27357.293811769916 27315.724494793874 27313.660767850975 27312.436563426472 27297.38087758654 27280.933318033738 27279.101307207842 27277.220714508214 27263.12493715726 27244.882767608196 27241.550180615566 27229.262741905637 27225.828452983395 27225.367939554235 27224.708589509522 27220.888598440237 27204.116640569708 27191.68646277352 27190.964657507597 27185.157781070022 27080.21934983827 27075.15784880196 27073.21560786774 27061.22876676247 27050.498255134014 27049.569590899446 27047.747603167914 27046.383383948556 27041.710720890853 27032.16485047276 27027.431350504357 27011.870879011978 26999.96121997697 26983.740915952214 26966.855739225044 26952.770829092344 26946.657995946312 26932.041383430555 26915.590174554574 26900.720445325216 26897.922165028867 26884.280782939568 26847.21307892748 26810.23045325947 26809.71616426143 26805.0679648409 26793.16442107101 26776.723966610065 26761.245900966132 26760.347459781617 26760.28829359548 26727.93882854687 26722.368601617636 26714.139771463382 26700.033929051282 26683.84751834827 26667.28322265335 26658.273616686653 26648.75384811062 26630.464171966883 26629.06341673867 26612.32974856503 26596.798041111062 26586.13527987594 26568.56765640674 26559.176048462698 26541.8954412897 26521.790466884377 26504.193853225097 26454.399566186952 26448.58489105993 26441.026842825082 26429.468677116154 26416.265683036883 26414.742755331623 26396.496342063303 26377.17350514337 26368.521638866943 26367.589492487616 26364.947754057368 26356.358718454903 26348.757373444994 26339.37935191831 26321.20566382347 26304.72808066005 26287.711711694927 26270.326497252903 26269.0339613936 26254.349613732964 26239.328276455057 26225.012020565176 26149.356084184386 26136.110910251482 26122.97093703349 26121.2566210049 26120.254113769857 26103.82349750154 26103.15827796842 26083.46645796326 26016.914957649995 26016.35765455536 26000.38817021076 25874.723658833384 25874.185599590342 25854.293716587537 25834.978529019343 25814.76884785601 25802.73899783575 25800.87798620294 25792.804631881485 25792.57437316697 25791.812112063613 25791.00271344406 25771.408374237682 25769.649923135647 25753.28160762713 25731.932979404606 25730.605131939305 25730.334421666495 25729.99082837737 25708.93187893066 25707.91058304928 25706.339488615962 25686.50680291661 25669.221349294578 25664.850097223152 25663.945159421968 25661.58642983948 25659.74789658042 25560.350547124384 25540.191511100285 25521.51948910428 25442.65344753027 25425.1618403981 25406.494250774653 25406.318519522734 25387.458168008267 25386.360404493895 25367.734113467883 25357.555245268068 25339.213867796007 25329.346541693838 25329.25756932744 25211.85928739066 25206.550793799015 25205.220619750304 25204.966418286735 25128.568573350844 25109.721015288113 25105.089606249803 25055.565793819922 24823.279150948292 24805.305748590792 24797.752033167133 24795.40039738894 24790.22663254066 24790.073169952786 24788.70311351174 24786.374086107062 24773.64897452571 24763.031875820438 24761.07714539647 24751.297032814404 24748.434564069274 24733.071983489048 24732.797743418992 24717.94897117143 24717.524761961202 24717.48961804386 24715.47610967198 24699.090007935272 24697.687270129023 24695.070098230746 24692.29484937687 24677.214535266026 24677.174232473433 24658.55783968126 24642.13834219638 24630.669165247535 24629.399589474095 24611.980402604106 24582.396066743033 24573.80818225481 24556.350574707278 24554.860369182206 24551.26418098149 24549.69594896948 24548.90645799492 24533.692935953353 24520.021611078046 24513.366127735 24511.31905698856 24511.062119148053 24506.677512759423 24501.616493215417 24494.632337433024 24474.433884198104 24473.731041974566 24470.49525129888 24456.236634546483 24440.857539545897 24424.515263018173 24414.357614960412 24409.277579393314 24407.379072490843 24405.99871282884 24398.55618626588 24398.27798596865 24394.9730085244 24377.0458429879 24374.235293598507 24356.034365953372 24311.714010115284 24290.54520248527 24287.839188403217 24286.388043161318 24283.13214560394 24281.58095307703 24280.96892632187 24280.715540734323 24277.83885051263 24276.69307702884 24271.95900730931 24264.618860212035 24262.18644845618 24260.661851685574 24205.25772307279 24203.407818471926 24202.983513609663 24201.041652328106 24198.532647743592 24186.13300794101 24183.41919398943 24156.1881105131 24153.853199060926 24149.61267135666 24140.902191752244 24137.555398814646 24134.939317768443 24134.574685568212 24129.913769712508 24125.909212735754 24122.19069048972 24110.052608420723 24109.09727336806 24090.445807046024 24090.36192031555 24089.420495677532 24010.361459053445 24004.86188033289 24004.75949383181 23999.62989100383 23999.61795029936 23995.52971407355 23992.12481119436 23987.21900455588 23983.054504214164 23976.15231205187 23971.819238710257 23970.760638035325 23964.0158398314 23958.480864859182 23954.61785739546 23870.837011408676 23861.59722448586 23859.534159127106 23859.319832270572 23858.438634777824 23856.770427562584 23852.60259179755 23833.176881664986 23829.41687746694 23825.483382916926 23822.6206122028 23822.04186405196 23743.35774512106 23735.598089690586 23733.538143470614 23731.937881160695 23730.450778726306 23724.90799992547 23722.32332963877 23720.400370688905 23702.872393628022 23700.215885775648 23694.001908520157 23693.177835759045 23687.83956515181 23681.929587505365 23673.699436259034 23671.82500391071 23670.079821278723 23668.43616194991 23666.823568075248 23658.84747105561 23655.948537987213 23654.73364487128 23654.59016696922 23653.808862743845 23648.5759189463 23648.556706505206 23644.273433133436 23639.70297893214 23621.94953812565 23616.16662517894 23615.465766046753 23614.012705535733 23613.13458174147 23609.884319446446 23607.246751192906 23606.008547688805 23599.989888809152 23567.48521890958 23563.06956874599 23488.45770876142 23484.601658506308 23483.137089442025 23471.18077234391 23452.600650103923 23448.953734033905 23448.15563487534 23446.74894676385 23443.35877545385 23439.694292500917 23434.855600022118 23431.396820384376 23431.19094294391 23430.036605846926 23428.355825279166 23425.720742412163 23422.220712174025 23414.946055656124 23402.505957175243 23402.426856477534 23396.04027613759 23395.86556859545 23395.773161850295 23391.175445359262 23389.356923092226 23387.124139409752 23383.51785941199 23383.320931049177 23382.735283754006 23379.4085712782 23375.70946653521 23374.92426221298 23369.785955699812 23367.112455751885 23363.578636251084 23361.903963193156 23361.632622121 23361.068563729008 23354.67434629741 23354.242379036637 23348.33214226837 23343.234373313542 23335.234822462557 23334.11985670887 23330.269061178944 23322.22172922433 23322.01015772119 23310.296938309606 23304.424663160167 23300.900303272752 23299.93331144537 23299.053029209135 23295.23898750229 23294.931667529392 23293.794466569958 23292.37214978473 23276.44293353886 23272.057987511922 23268.299779808127 23268.022687646248 23084.773245109158 23084.56294797546 23078.670440278584 23078.036502511633 23075.385444917694 23075.08895075174 23075.026341988992 23075.003995075404 23068.104168600094 23063.332791870576 23062.36233023913 23060.617150117938 23060.60050228626 23060.474336564064 23060.271222772768 23058.208783861548 23058.172438762733 23057.93316271955 23057.057659277372 23056.218215842346 23054.03170261282 23053.946637926492 23053.82210783866 23053.45761544548 23050.880035613984 23050.466179532425 23048.087124950656 23048.085108836418 23047.437109227 1000 23047.069440195286 23046.87260233108 23046.303267735395 23046.091844603245 23046.066578102524 1000 23045.864942101263 23045.29931988815 23045.058531692346 1000 23044.97979184816 23044.700689972018 23044.47176619976 23044.30575357509 23044.215505867654 1000 23044.07446564062 23041.891123820646 23041.36069360168 23041.048203228795 1000 2000 3000 4000 5000 6000 7000 8000 9000 10000 11000 12000 13000 14000 15000 16000 17000 18000 19000 20000 21000 22000 23000 24000 25000 26000 27000 28000 29000 30000 31000 32000 33000 34000 35000 36000 37000 38000 39000 40000 41000 42000 43000 44000 45000 46000 47000 48000 49000 50000 51000 52000 53000 54000 55000 56000 57000 58000 59000 60000 61000 62000 63000 64000 65000 66000 67000 68000 69000 70000 71000 72000 73000 74000 75000 76000 77000 78000 79000 80000 81000 82000 83000 84000 85000 86000 87000 88000 89000 90000 91000 92000 93000 94000 95000 96000 97000 98000 99000 100000

(23041.048203228795, [0.07511569953720185 0.0024826216484607764 0.007686932215234123 0.3108715184186885; 0.009433962264150933 0.0023372576177285464 0.0023391812865497037 0.015977443609022556; … ; 0.07097933513027847 0.002819548872180451 0.005291005291005287 0.7551020408163263; 0.019396734072256564 0.001320214774604679 0.004849692742069441 0.05573350416399737], UInt8[0x04, 0x02, 0x03, 0x01, 0x03, 0x03, 0x02, 0x01, 0x03, 0x02  …  0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05])

In [9]:
est_mat

5×4 Matrix{Float64}:
 0.0751157   0.00248262  0.00768693  0.310872
 0.00943396  0.00233726  0.00233918  0.0159774
 0.0589797   0.00131579  0.013059    0.158025
 0.0709793   0.00281955  0.00529101  0.755102
 0.0193967   0.00132021  0.00484969  0.0557335

Test reallocating all departments:

In [14]:
new_alloc = copy(est_alloc)
for pos in 1:length(new_alloc)
    print(pos, " ")
    if new_alloc[pos] != 5
        best = new_alloc[pos]
        L, T = bucket_estimator(est_alloc, out, UInt8(4))
        for test in 1:4
            if test != new_alloc[pos]
                temp_alloc = copy(new_alloc)
                temp_alloc[pos] = test
                nL, nT = bucket_estimator(temp_alloc, out, UInt8(4))
                if nL < L
                    best = test
                    L = nL
                    T = nT
                    println("found a swap")
                elseif nL == L
                    best = test
                    L = nL
                    T = nT
                    println("found an ok swap")
                end
            end
            new_alloc[pos] = best
        end
    else
        break
    end
end

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362

No higher-likelihood movements are possible.

The estimated means are:

In [16]:
function bucket_estimate_extract(assign::Array{UInt8}, A::Matrix{UInt8}, num::UInt8)
    T = zeros(Int64, num + 1, num) 
    for i in 1:size(A)[1], j in 1:size(A)[2]
         @inbounds T[(num + 1) * (assign[j] - 1) + assign[i]] += A[i, j]
    end
    return T
end

est_mat_placement = bucket_estimate_extract(est_alloc, out, UInt8(4))

5×4 Matrix{Int64}:
 211   20   55   346
  76   54   48    51
 422   27  238   448
  79    9   15   333
 917  179  584  1044

Sort into decreasing order:

In [17]:
sink_sum = sum(est_mat_placement[i, :] for i in 5:5)
indices_of_greatest_elements = sortperm(sink_sum, rev = true)
order = zeros(Int64, length(sink_sum))
for i in 1:length(sink_sum)
    order[indices_of_greatest_elements[i]] = i
end
for i in 5:5
    push!(order, i)
end
order

5-element Vector{Int64}:
 2
 4
 3
 1
 5

In [18]:
placement_rates = zeros(Int64, (5, 4))

for i in 1:5, j in 1:4
    placement_rates[order[i], order[j]] = est_mat_placement[i, j]
end
placement_rates

5×4 Matrix{Int64}:
  333   79   15    9
  346  211   55   20
  448  422  238   27
   51   76   48   54
 1044  917  584  179

The type allocation associated with these means is:

In [27]:
for j in 1:SELECT_COUNT
    println("TYPE ", j)
    println()
    i = 1
    for entry in est_alloc
        if order[entry] == j
            println(name_to_oid[institutions[i]], " ", institutions[i])
        end
        i += 1
    end
    println()
    println()
end

TYPE 1

914 Columbia University
1834 University of Pennsylvania
85 University of Wisconsin, Madison
37 Boston University
881 New York University
603 Cornell University
678 Northwestern University
499 Ohio State University
343 University of California, Berkeley
1691 London School of Economics and Political Science
658 University of Minnesota, Twin Cities
1926 Harvard University
36 University of California Los Angeles (UCLA)
336 Yale University
2282 Stanford University
40 University of Toronto
186 University of Michigan
24 Duke University
20 University of Maryland
886 Princeton University
394 University of Chicago


TYPE 2

110 Rice University
2010 Massachusetts Institute of Technology
253 University of Rochester
250 Vrije Universiteit Amsterdam
3203 London Business School
891 University of Bonn (Rheinische Friedrich-Wilhelms-Universität Bonn)
22 Syracuse University
218 University of Arizona
44 University of California, San Diego
362 Boston College
143 University of Warwick
203 Toulouse School of Economics
83 University of Virginia
507 National University of Singapore
67 University of British Columbia
70 Maastricht University
354 University of Southern California
105 University of Washington
1347 Singapore Management University
539 Washington State University
95 Clemson University
1575 University of California, Riverside
139 University of Cambridge
488 McGill University
217 University of Oxford
41 Michigan State University
55 University of Texas at Austin
1582 University of California, Davis
204 University of Mannheim (Universität Mannheim)
80 Stockholm University
793 Vanderbilt University
267 Erasmus University Rotterdam
1192 Tilburg University
220 Bocconi University (Università Bocconi)
453 Universitat Pompeu Fabra
86 Purdue University
84 Washington University in St. Louis
28 Brown University
49 Johns Hopkins University
2778 University of Notre Dame
522 Carnegie Mellon University
596 Texas A&M University, College Station
154 Pennsylvania State University
1309 University College London
5529 University of Connecticut
1191 University of Nottingham
1991 Stockholm School of Economics
476 George Washington University
1015 University of Illinois at Urbana-Champaign
432 Arizona State University
108 Universidad Carlos III de Madrid
1361 University of California, Santa Barbara
73 University of Colorado, Boulder


TYPE 3

330 University of Massachusetts, Amherst
255 Lancaster University
65 Eastern Kentucky University
3008 Peking University
3355 University of Lausanne (Université de Lausanne)
99 Georgetown University
533 Universidad de los Andes
1080 Hong Kong Baptist University
332 Simon Fraser University
1788 Colorado State University
477 University of Leicester
1343 University of Amsterdam (Universiteit van Amsterdam)
4820 Wuhan University
2756 George Mason University
634 Drexel University
3527 University of Miami
160 Concordia University
766 University of Kentucky
807 National Taiwan University
2032 Auburn University
970 University of Kent
1385 ETH Zurich (Swiss Federal Institute of Technology; Eidgenössische Technische Hochschule)
386 University of Edinburgh
781 National Research University Higher School of Economics, Moscow
954 Norwegian School of Economics (NHH)
774 University of St Andrews
61 Western University
1464 City University of Hong Kong
511 Australian National University
902 University of Copenhagen (Københavns Universitet)
580 Carleton University
1706 Wayne State University
249 University of Groningen (Rijksuniversiteit Groningen)
2983 California Institute of Technology (Caltech)
385 Aalto University
1046 University of Nebraska, Lincoln
1326 Katholieke Universiteit Leuven (KU Leuven)
1625 University of North Carolina, Chapel Hill
856 University of Ottawa
3544 Rutgers, The State University of New Jersey
289 Georgia Institute of Technology
1650 Indiana University Bloomington
916 Copenhagen Business School
636 Miami University
298 University of Vienna (Universität Wien)
688 University of Sydney
277 University of New Mexico
1847 University of Utah
960 University of Glasgow
398 Sciences Po
106 University of Hong Kong
96 University of South Carolina
7769 University of Missouri, Columbia
953 Queen Mary University of London
1676 Iowa State University
240 Aarhus University
2581 Koç University
179 University of Calgary
45 Stony Brook University (SUNY)
208 École d'Économie de Paris (Paris School of Economics)
3096 Goethe-Universität Frankfurt am Main
109 Monash University
2054 Oregon State University
752 Queen's University
4638 Fudan University
2198 University of Exeter
2029 University of Florida
560 Binghamton University (SUNY)
1176 Hong Kong University of Science and Technology
1100 West Virginia University
679 University of Oklahoma
97 University of New South Wales (UNSW), Sydney
1753 Imperial College London
2493 Florida International University
947 CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute)
428 University of Essex
1501 University of California, Irvine
2222 University of Oregon
897 New York University Abu Dhabi
181 University of Tennessee, Knoxville
1717 University of Alberta
1065 North Carolina State University
466 Georgia State University
459 Southern Methodist University
2270 Chinese University of Hong Kong
6160 Universíté de Montréal (University of Montreal)
712 Kansas State University
2046 University of Cologne (Universität zu Köln)
3619 BI Norwegian Business School
4652 University of Guelph
869 University of Kansas
3806 Nanyang Technological University
1798 University of Houston
1965 University of Alabama
1306 Shanghai University of Finance and Economics
633 University of Bristol
831 University of Sussex
334 University of Melbourne
1601 University of California, Santa Cruz
786 INSEAD
1621 Texas Tech University
585 Louisiana State University
702 Tulane University
1077 University of Gothenburg (Göteborgs Universitet)
1826 Baruch College, City University of New York
4840 University of Illinois at Chicago
33 University of Pittsburgh
794 Northeastern University
180 Ryerson University
748 University of Arkansas
112 CEMFI
416 University of Georgia
623 Tsinghua University
1159 Utrecht University (Universiteit Utrecht)
620 Middle Tennessee State University
474 McMaster University
323 European University Institute
2024 Ludwig-Maximilians-Universitat München (LMU) (University of Munich)
632 Oklahoma State University
308 Birkbeck College, University of London
226 University of Delaware
82 Florida State University
201 Uppsala University (Uppsala Universitet)
1059 Virginia Tech
286 Università di Bologna (University of Bologna)
2713 University of Hawaiʻi at Mānoa
360 Universidad de Navarra
2817 Université Libre de Bruxelles
4828 Emory University
3030 American University
47 Universitat Autònoma de Barcelona
952 University of Zurich (Universität Zürich)
921 Lund University (Lunds Universitet)
1872 Fundação Getulio Vargas (FGV)
351 Temple University


TYPE 4

1421 Indian Statistical Institute, Delhi
675 University of Oslo
2519 Bentley University
1348 ESMT Berlin (European School of Management and Technology)
1052 Insper (Institute of Education and Research)
1984 University of Vaasa
3745 Korea University
1685 LUISS Guido Carli
233 University of Bern (Universität Bern)
948 Université catholique de Louvain
1227 Stellenbosch University
784 University of Adelaide
2121 Central Michigan University
118 University of Texas at Arlington
8057 Cochin University of Science and Technology
4659 University of Limerick
6708 Kurukshetra University
4144 Trinity College Dublin, University of Dublin
3790 ESCP Business School (École supérieure de commerce de Paris)
1085 Harbin Institute of Technology, Shenzhen
2776 University of Liverpool
1920 Martin Luther University of Halle-Wittenberg (Martin-Luther-Universität Halle-Wittenberg)
1088 Shiv Nadar University
966 Universiteit Antwerpen (University of Antwerp)
1836 Freie Universität Berlin
1170 International Monetary Fund (IMF)
219 Ecole Polytechnique (IP Paris)
2918 University of Nevada, Las Vegas (UNLV)
1042 Hebrew University of Jerusalem
1620 Université Laval
1392 EDHEC Business School (Ecole des Hautes Etudes Commerciales du Nord)
2489 University of Innsbruck (Universität Innsbruck)
1527 The New School
3211 Humboldt University Berlin (Humboldt-Universität zu Berlin)
274 Middle East Technical University
135 Universidad de Alicante (University of Alicante)
1401 University of Bath
1769 Université de Bordeaux (University of Bordeaux)
368 University of Waterloo
4640 Penn State Abington
7104 Bharathidasan University
543 Bilkent University (Bilkent Üniversitesi)
2188 University of Iowa
23 Brandeis University
1094 City University of London
814 Vienna Graduate School of Finance (VGSF)
2675 Deakin University
1415 Ghent University
3216 Heriot Watt University
2533 Massey University
1308 Universidade Nova de Lisboa
1354 Université de Genève (University of Geneva)
4740 Kyoto University
4696 Sabancı University
4639 Delft University of Technology (Technische Universiteit Delft)
1469 Royal Melbourne Institute of Technology (RMIT)
1973 Suffolk University
136 Royal Holloway, University of London
8313 Zhejiang Gongshang University
3657 University of South Florida
1282 University of Tasmania
3642 Indian Institute of Management Bangalore
4067 Marquette University
4114 Occidental College
2239 Clark University
2595 Indian Institute of Management Indore
48 IMT School for Advanced Studies Lucca
2201 York University
1921 SKEMA Business School
5751 Technical University of Crete
363 Loyola Marymount University
310 University of Queensland
284 Université de Strasbourg (University of Strasbourg)
3820 University of New Orleans
747 Ball State University
1514 Northern Illinois University
1296 Middle East Technical University - Northern Cyprus Campus
3494 St. Thomas University
256 University of East Anglia
768 University of Surrey
1263 University of Northern British Columbia
382 Universitat de Barcelona
1480 University of Manchester
4250 Quaid-i-Azam University
232 Howard University
2213 University of Leeds
888 University of Victoria
874 Otto-von-Guericke University Magdeburg
1363 Central European University
272 University of Cape Town
2961 Towson University
6161 National Central University
1856 University of Tirana (Universiteti i Tiranës)
229 University of Konstanz (Universität Konstanz)
4401 Universiti Malaysia Perlis
422 Universitat de València (University of Valencia)
1091 Ca' Foscari University Venice (Università Ca’ Foscari)
2347 City University of New York Graduate Center
911 Vienna University of Economics and Business
133 Wabash College
1470 Università Degli Studi di Milano (University of Milan)
2566 Loughborough University
740 University at Albany (SUNY)
1727 University of Maine, Orono
4624 University College Dublin
3552 Universidad de Zaragoza
789 University of South Alabama
6998 Sam Houston State University
835 Università della Svizzera Italiana (University of Lugano)
2230 University of Wisconsin, Milwaukee
2122 Università Cattolica del Sacro Cuore
1260 University of Lisbon (Universidade de Lisboa)
1998 SOAS (School of Oriental and African Studies), University of London
1803 University of Nevada, Reno
2384 University of Mississippi
730 California State Polytechnic University, Pomona
152 University of Luxembourg (Université du Luxembourg/Universität Luxemburg)
1003 Seoul National University
1134 Heidelberg University
758 Frankfurt School of Finance & Management
247 Universitat Rovira i Virgili
3239 Indian Institute of Technology, Kanpur
1981 Johannes Kepler University Linz
930 University of Saskatchewan
4361 Universiti Utara Malaysia
731 MINES ParisTech
1365 Kiel Institute for the World Economy
4226 Universidad Pontificia Comillas
2737 University of Warsaw (Uniwersytet Warszawski)
3082 Università degli Studi di Firenze (University of Florence)
3284 University of Tokyo
98 Colorado School of Mines
821 Texas A&M International University
1663 Claremont Graduate University
457 Chr. Michelsen Institute (CMI)
4107 Federal University of Paraná (Universidade Federal do Paraná)
3566 Technische Universität Berlin
1220 Bank of Finland
4666 University of Strathclyde
7421 Academia Sinica
776 University of Colorado, Denver
494 Dalian University of Technology
1049 DePauw University
3489 University of Texas at Dallas
809 University of Helsinki (Helsingin yliopisto)
1189 Université Paris-Dauphine
830 University of Wyoming
817 National Research University Higher School of Economics, St. Petersburg
638 HEC Paris
4057 SUNY Buffalo State
1045 Hong Kong Polytechnic University
2455 ESSEC Business School

The numerical form of the type allocation, to be used for estimating the deep parameters, is:

In [20]:
print(est_alloc)

UInt8[0x04, 0x02, 0x03, 0x01, 0x03, 0x03, 0x02, 0x01, 0x03, 0x02, 0x03, 0x03, 0x02, 0x02, 0x02, 0x01, 0x03, 0x02, 0x02, 0x02, 0x01, 0x03, 0x03, 0x03, 0x02, 0x02, 0x02, 0x03, 0x01, 0x03, 0x02, 0x03, 0x04, 0x03, 0x02, 0x03, 0x03, 0x03, 0x03, 0x02, 0x03, 0x03, 0x02, 0x02, 0x03, 0x03, 0x02, 0x03, 0x02, 0x02, 0x03, 0x03, 0x03, 0x01, 0x04, 0x02, 0x01, 0x02, 0x01, 0x04, 0x01, 0x03, 0x04, 0x03, 0x02, 0x02, 0x01, 0x02, 0x01, 0x01, 0x03, 0x02, 0x02, 0x03, 0x03, 0x02, 0x02, 0x02, 0x03, 0x03, 0x01, 0x01, 0x04, 0x01, 0x02, 0x03, 0x02, 0x01, 0x03, 0x01, 0x03, 0x03, 0x03, 0x02, 0x02, 0x02, 0x03, 0x02, 0x03, 0x03, 0x02, 0x01, 0x02, 0x03, 0x03, 0x02, 0x02, 0x02, 0x03, 0x03, 0x02, 0x03, 0x04, 0x02, 0x02, 0x03, 0x02, 0x02, 0x02, 0x02, 0x02, 0x02, 0x02, 0x03, 0x02, 0x03, 0x03, 0x02, 0x02, 0x03, 0x02, 0x02, 0x01, 0x04, 0x02, 0x01, 0x01, 0x04, 0x02, 0x02, 0x03, 0x04, 0x02, 0x03, 0x04, 0x01, 0x03, 0x02, 0x02, 0x02, 0x01, 0x03, 0x01, 0x02, 0x03, 0x03, 0x02, 0x03, 0x02, 0x02, 0x03, 0x01, 0x03, 0x03, 0x02, 0x02, 0x03, 0x03, 0x02, 0x03, 0x02, 0x02, 0x02, 0x02, 0x02, 0x02, 0x02, 0x03, 0x02, 0x04, 0x02, 0x02, 0x02, 0x03, 0x03, 0x01, 0x03, 0x01, 0x04, 0x02, 0x02, 0x03, 0x03, 0x01, 0x02, 0x01, 0x02, 0x03, 0x01, 0x02, 0x04, 0x03, 0x02, 0x01, 0x02, 0x03, 0x02, 0x03, 0x02, 0x02, 0x02, 0x03, 0x03, 0x03, 0x01, 0x02, 0x01, 0x02, 0x03, 0x03, 0x02, 0x02, 0x03, 0x02, 0x03, 0x01, 0x02, 0x02, 0x03, 0x03, 0x02, 0x02, 0x03, 0x02, 0x02, 0x03, 0x02, 0x01, 0x01, 0x03, 0x03, 0x03, 0x02, 0x02, 0x03, 0x02, 0x03, 0x01, 0x02, 0x03, 0x02, 0x03, 0x03, 0x01, 0x03, 0x03, 0x03, 0x04, 0x02, 0x02, 0x02, 0x02, 0x03, 0x03, 0x03, 0x02, 0x03, 0x02, 0x02, 0x02, 0x01, 0x03, 0x02, 0x02, 0x02, 0x02, 0x02, 0x03, 0x03, 0x03, 0x02, 0x03, 0x02, 0x03, 0x03, 0x02, 0x02, 0x03, 0x01, 0x02, 0x03, 0x03, 0x02, 0x03, 0x02, 0x03, 0x02, 0x01, 0x01, 0x02, 0x03, 0x01, 0x02, 0x02, 0x03, 0x01, 0x04, 0x03, 0x01, 0x03, 0x02, 0x03, 0x02, 0x03, 0x02, 0x03, 0x03, 0x03, 0x02, 0x04, 0x03, 0x03, 0x03, 0x03, 0x03, 0x03, 0x02, 0x03, 0x02, 0x02, 0x01, 0x02, 0x03, 0x03, 0x02, 0x03, 0x01, 0x02, 0x01, 0x01, 0x02, 0x04, 0x02, 0x03, 0x03, 0x03, 0x02, 0x03, 0x02, 0x01, 0x02, 0x02, 0x02, 0x04, 0x04, 0x01, 0x01, 0x02, 0x01, 0x02, 0x04, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05, 0x05]

In [25]:
new_alloc = [order[Int64(i)] for i in est_alloc];

In [32]:
open("type_allocation.json", "w") do f
    JSON.print(f, new_alloc)
end

## References

Karrer, B., and M. E. J. Newman (2011): "Stochastic Blockmodels and community structure in networks," Physical Review, 83(1).

Peixoto, T. (2014): "Efficient Monte Carlo and greedy heuristic for the inference of stochastic block models," Physical Review, 89(1).